# Core dependencies
torch==2.1.0
torchvision==0.16.0
numpy==1.26.4

# Image processing
Pillow>=10.0.0
matplotlib==3.8.4

# Scientific computing
scipy>=1.11.0

# DICOM handling
pydicom==3.0.1

# Configuration management
hydra-core==1.3.2
omegaconf==2.3.0

# Data handling
pandas==2.1.4

# PyTorch Lightning
pytorch-lightning==2.1.3

# Additional utilities
PyYAML==6.0.1

# Scikit-Learn
scikit-learn==1.3.2

# Timm
timm==0.9.12